header
{
    /* из-за кучи счётчиков и пробелов между ними получается много пустого места, пытаемся скомпенсировать его */
    margin-top: -20px;
}
.b-header__container
{
    padding: 30px 0 0 0;
    line-height: 26px;
}

.b-date,
.b-gazeta,
.b-subscribe,
.b-header__divider,
.b-icon.icon-no-person,
.b-button.b-button_auth a
{
    margin: 0;
    padding: 0;
}

.b-icon.icon-gazeta,
.b-icon.icon-subscribe
{
    vertical-align: middle;
}

.b-icon.icon-gazeta
{
    height: 24px;
    width: 26px;
    background-position: -100px -244px;
}

.b-icon.icon-subscribe
{
    height: 24px;
    width: 26px;
    background-position: -61px -141px;
}

.b-icon.icon-no-person
{
    height: 24px;
    width: 26px;
}

.b-button.b-button_auth a,
.b-subscribe
{
    line-height: 26px !important;
}

.b-gazeta
{
    line-height: 26px;
}

.b-date
{
    float: none;
}

.b-header__divider
{
    margin: 0 5px;
    height: 26px;
}

@media screen
{
    .b-button_auth > a.user-fio
    {
        margin: 0 5px;
    }
}

.typo-s
{
    margin-right: 11px;
}
.typo-q
{
    font-style: normal;
    margin-left: -11px;
}


.b-document__authors
{
    width: 300px;
    float: none;
}

.b-params
{
    position: static;
    float: right;
    width: 120px;
}

.b-params > ul > li
{
    float: left;
    width: 40px;
    padding: 0;
    border-bottom: 0;
}

.b-params > ul > li.comments
{
    width: 80px;
}

.b-params li:first-child
{
    border-top: 0;
}

div.counter
{
    display: inline-block;
}

body .b-params li .counter
{
    width: 35px;
    margin: 0;
}

.b-document p
{
    padding-left: 0;
}

.b-inset
{
    border-top: 0;
    padding: 0 0 5px 0;
    margin: 15px 15px 10px 0;
}

.b-big-green-link
{
    margin-left: 0;
}
